<p class="ask-message">
  Pending Requests will automatically be ordered as an Ask ticket every Friday. They will be removed from the list once they are delivered.
</p>

<ul class='basic-list'>
<% @requests.each do |request| %>
  <li class="item-details">
  <span class="item-name"><%= request.beer.name %></span>
  <div>
    <span class="datetime"><%=request.created_at.strftime("%F")%></span>
    <label>
      Requested By:
      <span class="requester-name">
        <%= request.name %>
      </span>
    </label>
  </div>
  <div>
    <%= link_to("View More", request.beer.url, target: '_blank')%>
    <%= link_to 'Delete',
      request,
      method: :delete,
      data: {confirm: 'Are you sure you want to cancel this request?'}
    %>
  </div>
  </li>
<% end %>
</ul>
