<%= form_for @request, url: {action: "create"}, html: {class: 'form'} do |form| %>
<ul>
<% @beers.each do |beer| %>
  <li><%= check_box_tag 'request[beers][]', beer.id %><%= beer.name %> <%= link_to("View More", beer.url, target: '_blank')%></li>
<% end %>
</ul>
<%= form.text_field :name, placeholder: 'Enter your name...' %>
<%= form.submit("Request") %>
<% end %>
