<!DOCTYPE html>
<html>
  <head>
    <title>Beer Time</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="beertime">
      <div class="header">
        <%= image_tag "pivotal-beer-time-logo.svg" %>
        <h1 class="title">beer time</h1>
      </div>
      <ul class="menu">
        <li><%= link_to_unless_current "pending requests", requests_path %></li>
        <li><%= link_to_unless_current "request beers", new_request_path %></li>
      </ul>
      <%= yield %>
    </div>
  </body>
</html>
